.button {
    position: absolute;
   
    left: 15px;
    
    width: 20px;
    top: 0.2rem;
    
    background-color: black;
}


.button h1 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.menu {
    position: absolute;
    
    margin-top: 20px;

}

.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#menu-icon {
    width: 350px;
}
