@media(max-width: 1200px){
 

    
    #page-landing .content-wrapper main img {
        width: 300px;
        height: 205px;

        align-items: center;
    }
}

@media(max-width: 500px){
    
    #page-landing {
        align-items: center;
    }


    #page-landing .social{
        position: absolute;

        top: 20px;
        margin: 2px;
        margin-right: -222px;
    }
    #page-landing .menu {
        position: absolute;

        right: -20px;
        
    }
    #page-landing .content-wrapper {
        position: absolute;
        top: 22px;
        width: 100vw;
        height: 90vh;  
    } #page-landing .content-wrapper main h1 {
        
        text-align: center;
    }
}
    



