@media(max-width: 1200px){
 

    
    #page-landing .content-wrapper main img {
        width: 350px;
        height: 239px;

        align-items: center;
    }
}

@media(max-width: 500px){
    
    #page-landing {
        align-items: center;
    }


    #page-landing .social{
        position: absolute;

        top: 20px;
        margin: 2px;
        margin-right: -222px;
    }
    #page-landing .menu {
        position: absolute;

        right: -20px;
        
    }
    #page-landing .content-wrapper {
        width: 200vh;
        height: 50vw;

    } #page-landing .content-wrapper main h1 {
        position: absolute;
        text-align: center;

        bottom: 160px;
        
    }#page-landing .content-wrapper main h2 {
               

    }#page-landing .content-wrapper main img {
        position: absolute;

        right: 0;
        bottom: -200px;

    }


}
    



