@media(max-width: 1200px){
 

    
    #page-landing .content-wrapper main img {
        width: 350px;
        height: 239px;

        align-items: center;
    }
}
@media(max-width: 800px){

}
@media(max-width: 500px){
    
    #page-landing {
        align-items: center;
    }


    #page-landing .social{
        position: absolute;

        right: 20px;
        top: 25px;
        
    }
    #page-landing .menu {
        position: absolute;

        right: -160px;
        
    }#page-landing .header .logo {
        position: absolute;
        width: 8.9rem;
        height: 8.9rem;
    
        left: 10px;
        top: 25px;
    }
    #page-landing .header .content-wrapper {
        width: 200vh;
        height: 50vw;

    }#page-landing .content-wrapper main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #page-landing .content-wrapper main h1 {

    }

        
        
    }#page-landing .content-wrapper main h2 {
        position: absolute;

        top: 300px;
        right: 0;
        bottom: 0;

        text-align: center;
        font-size: 30px;          
    }
    #page-landing .content-wrapper main img {
        position: absolute;

        right: 0;
        bottom: -200px;

    }


    



